@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
    
$background: #11171E
$maincolor: #FAF000
    
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Fira Mono', monospace

body
    background-color: $background
    height: 100vh
    display: flex
    flex-direction: column

#cursor
    width: 3px
    height: 35px
    background-color: $maincolor
    border-radius: 5px
    position: absolute  
    opacity: 0.8

.header
    width: 100%
    height: 100px
    display: flex
    justify-content: center

    .header-cnt
        width: 1000px
        height: 100%
        padding: 0 10px
        display: flex
        justify-content: space-between

        .header-logo
            width: 255px
            height: 100%
            display: flex  
            justify-content: space-between
            align-items: center
            text-decoration: none

            img
                height: 40%

            h1
                font-size: 35px
                font-weight: lighter
                font-family: 'Lexend Deca', sans-serif;
                color: white
                opacity: 0.9

        .header-options
            height: 100%
            display: flex
            justify-content: space-between
            align-items: center

            .header-timercnt
                width: 100px
                height: 20px
                display: flex
                justify-content: space-between
                color: $maincolor
                align-items: center

                button
                    background: none
                    border: none
                    color: white 
                    cursor: pointer

            i
                color: white
                cursor: pointer
                font-size: 30px
                transition: 0.3s
                margin-left: 20px

                &:hover
                    transform: scale(1.1)
                    color: $maincolor

.contentbox
    width: 100%
    flex: 1
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

    .contentbox-infocnt
        width: 1000px
        height: 40px
        padding: 0 12px
        display: flex
        justify-content: space-between
        align-items: center

        div
            font-size: 20px
            color: $maincolor

    .contentbox-wordscnt
        width: 1000px
        height: 150px
        margin-bottom: 25px
        display: flex
        justify-content: space-between
        align-items: center
        flex-direction: column
        overflow: hidden
        position: relative
        opacity: 0 

        .contentbox-words
            width: 100%
            color: white
            position: relative
            top: 0

            span
                padding: 0 10px
                height: 50px
                font-size: 30px
                display: inline-flex
                align-items: center
                transition: 0.1s
                letter-spacing: 1px
                border-bottom: 2px solid transparent

                span
                    padding: 0
                    height: 80%
                    color: rgba(255,255,255,0.20)
                    position: relative
                    border-bottom: 2px solid transparent
        
        .contentbox-wordsinp
            position: absolute
            width: 100%
            height: 100%
            background-color: rgba(255,255,255,0)
            transition: 0.3s    

            input
                width: 100%
                height: 100%
                position: absolute
                display: none
                opacity: 0
                cursor: pointer

            #endingpopup
                background-color: $background
                position: absolute
                width: 100%
                height: 100%
                opacity: 0
                pointer-events: none 
                display: flex
                justify-content: center
                align-items: center

                .endingpopup-cnt
                    width: 200px
                    height: 100%
                    margin: 0 30px
                    display: flex
                    justify-content: space-evenly
                    flex-direction: column

                    h1
                        color: white
                        font-size: 20px

                    .endingpopup-top
                        display: flex
                        align-items: center
                        height: 40%

                        h1
                            color: white
                            margin-right: 10px
                            font-size: 50px

                        h2
                            color: $maincolor
                            font-size: 50px
                
                    .endingpopup-btm
                        color: white
                

    button
        width: 75px
        height: 50px
        border: 0
        border-radius: 5px
        color: white
        font-size: 25px
        background-color: transparent
        transition: 0.3s

        &:focus
            background-color: #faf000
            color: $background
            outline: 0
            border: 0

    p
        color: white
        font-weight: lighter
        margin-top: 25px

        b
            background-color: gray
            border-radius: 5px
            padding: 0 5px
            

footer
    width: 100%
    height: 100px
    display: flex
    justify-content: center
    align-items: center

    .footer-cnt
        width: 1000px
        height: 100%

        .footer-linkscnt
            width: 100%
            height: 70px
            padding: 0 10px
            display: flex
            justify-content: space-between
            align-items: center

            a
                width: 75px
                color: white
                font-weight: lighter
                font-size: 15px
                display: flex
                justify-content: center
                align-items: center
                transition: 0.3s
                text-decoration: none

                &:hover
                    color: $maincolor

                i 
                    margin-right: 5px

        .footer-btm
            width: 100%
            height: 30px
            font-size: 10px
            display: flex
            opacity: 0.3
            justify-content: center
            align-items: center
            color: white


    

            
