@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Fira Mono', monospace;
}

body {
  background-color: #11171E;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#cursor {
  width: 3px;
  height: 35px;
  background-color: #FAF000;
  border-radius: 5px;
  position: absolute;
  opacity: 0.8;
}

.leaderboard-cnt {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 999;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #00000088;
}

.leaderboard-cnt .leaderboard {
  width: 1000px;
  height: 600px;
  background-color: #11171E;
}

.leaderboard-cnt .leaderboard .leaderboard-header {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.leaderboard-cnt .leaderboard .leaderboard-header h1 {
  font-size: 30px;
  color: white;
}

.leaderboard-cnt .leaderboard .leaderboard-header .leaderboard-btncnt {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leaderboard-cnt .leaderboard .leaderboard-header .leaderboard-btncnt div {
  width: 50px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  cursor: pointer;
}

.leaderboard-cnt .leaderboard .leaderboard-header .leaderboard-btncnt #leaderboard-btn1 {
  color: #FAF000;
}

.leaderboard-cnt .leaderboard .leaderboard-header .leaderboard-btncnt #leaderboard-closebtn {
  font-size: 30px;
}

.leaderboard-cnt .leaderboard .leaderboard-15s,
.leaderboard-cnt .leaderboard .leaderboard-30s,
.leaderboard-cnt .leaderboard .leaderboard-60s {
  width: 1000px;
  height: 520px;
  padding: 0px 10px 10px 10px;
}

.leaderboard-cnt .leaderboard .leaderboard-15s {
  display: block;
}

.leaderboard-cnt .leaderboard .leaderboard-30s {
  display: none;
}

.leaderboard-cnt .leaderboard .leaderboard-60s {
  display: none;
}

.leaderboard-cnt .leaderboard .leaderboard-row1,
.leaderboard-cnt .leaderboard .leaderboard-row2 {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 10px;
}

.leaderboard-cnt .leaderboard .leaderboard-row1 {
  background-color: #1b2530;
}

.leaderboard-cnt .leaderboard .leaderboard-row2 {
  background-color: #202831;
}

.user-cnt {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 999;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #00000088;
}

.user-cnt .user {
  width: 1000px;
  height: 600px;
  background-color: #11171E;
}

.user-cnt .user .user-header {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.user-cnt .user .user-header .user-headerleft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  color: white;
}

.user-cnt .user .user-header .user-headerleft input {
  margin-left: 10px;
  height: 30px;
  color: white;
  background-color: transparent;
  border: 0;
  padding: 2px;
  font-size: 25px;
}

.header {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header-cnt {
  width: 1000px;
  height: 100%;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-cnt .header-logo {
  width: 255px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.header .header-cnt .header-logo img {
  height: 40%;
}

.header .header-cnt .header-logo h1 {
  font-size: 35px;
  font-weight: lighter;
  font-family: 'Lexend Deca', sans-serif;
  color: white;
  opacity: 0.9;
}

.header .header-cnt .header-options {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-cnt .header-options .header-timercnt {
  width: 100px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #FAF000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-cnt .header-options .header-timercnt .selectedtimer {
  font-weight: bold;
  font-size: 110%;
}

.header .header-cnt .header-options .header-timercnt button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.header .header-cnt .header-options .header-usercnt {
  height: 100%;
  margin-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header .header-cnt .header-options .header-usercnt h1 {
  color: white;
  font-size: 15px;
}

.header .header-cnt .header-options .header-lbcnt {
  margin-left: 15px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  cursor: pointer;
}

.contentbox {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contentbox .contentbox-infocnt {
  width: 1000px;
  height: 40px;
  padding: 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contentbox .contentbox-infocnt div {
  font-size: 20px;
  color: #FAF000;
}

.contentbox .contentbox-wordscnt {
  width: 1000px;
  height: 150px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  opacity: 0;
}

.contentbox .contentbox-wordscnt .contentbox-words {
  width: 100%;
  color: white;
  position: relative;
  top: 0;
}

.contentbox .contentbox-wordscnt .contentbox-words span {
  padding: 0 10px;
  height: 50px;
  font-size: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  letter-spacing: 1px;
  border-bottom: 2px solid transparent;
}

.contentbox .contentbox-wordscnt .contentbox-words span span {
  padding: 0;
  height: 80%;
  color: rgba(255, 255, 255, 0.2);
  position: relative;
  border-bottom: 2px solid transparent;
}

.contentbox .contentbox-wordscnt .contentbox-wordsinp {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contentbox .contentbox-wordscnt .contentbox-wordsinp input {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  opacity: 0;
  cursor: pointer;
}

.contentbox .contentbox-wordscnt .contentbox-wordsinp #endingpopup {
  background-color: #11171E;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contentbox .contentbox-wordscnt .contentbox-wordsinp #endingpopup .endingpopup-cnt {
  width: 200px;
  height: 100%;
  margin: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contentbox .contentbox-wordscnt .contentbox-wordsinp #endingpopup .endingpopup-cnt h1 {
  color: white;
  font-size: 20px;
}

.contentbox .contentbox-wordscnt .contentbox-wordsinp #endingpopup .endingpopup-cnt .endingpopup-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40%;
}

.contentbox .contentbox-wordscnt .contentbox-wordsinp #endingpopup .endingpopup-cnt .endingpopup-top h1 {
  color: white;
  margin-right: 10px;
  font-size: 50px;
}

.contentbox .contentbox-wordscnt .contentbox-wordsinp #endingpopup .endingpopup-cnt .endingpopup-top h2 {
  color: #FAF000;
  font-size: 50px;
}

.contentbox .contentbox-wordscnt .contentbox-wordsinp #endingpopup .endingpopup-cnt .endingpopup-btm {
  color: white;
}

.contentbox button {
  width: 75px;
  height: 50px;
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 25px;
  background-color: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.contentbox button:focus {
  background-color: #faf000;
  color: #11171E;
  outline: 0;
  border: 0;
}

.contentbox p {
  color: white;
  font-weight: lighter;
  margin-top: 25px;
}

.contentbox p b {
  background-color: gray;
  border-radius: 5px;
  padding: 0 5px;
}

footer {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-cnt {
  width: 1000px;
  height: 100%;
}

footer .footer-cnt .footer-linkscnt {
  width: 100%;
  height: 70px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-cnt .footer-linkscnt a {
  width: 75px;
  color: white;
  font-weight: lighter;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}

footer .footer-cnt .footer-linkscnt a:hover {
  color: #FAF000;
}

footer .footer-cnt .footer-linkscnt a i {
  margin-right: 5px;
}

footer .footer-cnt .footer-btm {
  width: 100%;
  height: 30px;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}
/*# sourceMappingURL=style.css.map */